<section>
    <h2>Zoek een geschikte partner</h2>
    <form class="searchForm" action="/search" method="GET">
        <fieldset>
            <label for="firstname">Kies hier jouw title</label>
            <input type="text" name="firstname">
            <select name="gender">
                <option value="">Selecteer je geslacht:</option>
                <option value="man">Man</option>
                <option value="female">Vrouw</option>
                <option value="other">Anders</option>
            </select>
            <label for="ageMin">Age min:</label>
            <input type="number" id="ageMin" name="ageMin" min="18" max="126" value="18">
            <label for="ageMax">Age min:</label>
            <input type="number" id="ageMax" name="ageMax" min="18" max="126" Value="99">-->
            <label for="favorite">Kies hier jouw favoriete game</label>
            <select name="favorite" id="favorite" size="15">
                <% for (x=0; x < dataTop100.length; x++) { %>
                <option value="<%= dataTop100[x].name %>"><%= dataTop100[x].name %></option>
                <% } %>
            </select>
            <input type="submit" name="save" placeholder="Log-in">
        </fieldset> 
    </form>

    <% users.forEach(function(users){%>
    <p> <%= users.firstname %> </p>
    <% console.log(users.image) %>
    <%})%>

</section>