<nav class="main-menu">
    <a href="/">
        Matches
    </a>
    <a href="/profile">
       Profiel
    </a>
    <a href="#">
        Chat
    </a>
    <a href="/logout">
        Uitloggen
    </a>
</nav>