<%- include ('../partials/head') %>

<body>
<%- include ('../partials/header') %>

  <main>
    <h1 style="color:white">De game database</h1>

    <form action="">
      <label for="">Kies hier jouw favoriete game</label>
      <select name="" id="" size="15">
        <% for (x=0; x < dataTop100.length; x++) { %>
        <option value="<% dataTop100[x].name %>"><%= dataTop100[x].name %></option>
        <% } %>
        <input type="submit">
      </select>
    </form>>
  </main>

<%- include ('../partials/footer') %>
</body>