<%- include ('../partials/head') %>

<body>
<%- include ('../partials/header') %>

  <main>
    <h1 style="color:white">Vind je games hier</h1>
  </main>

<%- include ('../partials/footer') %>
</body>