<%- include ('../partials/head') %>

<body>
<%- include ('../partials/header') %>
<%- include ('../partials/sidebar') %>

    <main>
        <h1>Hello world</h1> 
        <a href="/logout">Uitloggen</a>
    </main>

<%- include ('../partials/footer') %>
</body>