<%- include ('../partials/head') %>

<body>
<%- include ('../partials/header') %>

  <main>
    <form class="form-style-5" method="POST" action="/login">
        <fieldset>
            <legend>Inloggen</legend>
            <input type="email" name="email" placeholder="example@example.nl *" required>
            <input type="password" name="password" placeholder="Wachtwoord *" required>
        </fieldset>
            <input type="submit" value="Inloggen">
        </form>
  </main>

<%- include ('../partials/footer') %>
</body>