<%- include ('../partials/head') %>



<main>
    <h1>Pagina niet gevonden || 404</h1>
    <br>
    <h3>Maar speel een game met onze computer</h3>
    <p>De speler links speelt met Q & A</p>
    
    <br>
    <canvas id="gameCanvas" width="800" height="600"></canvas>
</main>


<%- include ('../partials/footer') %>
</body>
